/*------------INICIO------------*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #422a06;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

section {
    background-color: #e7d9c1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #d48610;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5722;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.boton:hover {
    background-color: #ff8a65;
}

.producto {
    text-align: center;
    margin-bottom: 20px;
}

.producto img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
}

#contenedor2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 20px;  
}

.contacto form label {
    display: block;
    margin-bottom: 10px;
}

.contacto form input[type="text"],
.contacto form input[type="email"],
.contacto form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.contacto form button {
    display: block;
    margin-bottom: 10px;
}

.contacto button {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/*---------------Para Comer y Beber-------------*/

.titulo2 {
    background-color: #d3af62;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    margin-top: 15px;
}

.titulo {
    color: #422a06;
    text-align: center;
}

.lineaSeparadora {
    border: 2px solid #b1aeae;
    margin-bottom: 30px;
}